.app {
  max-width: 1200px;
  margin: 0 auto;
  color: #c88719;
  padding-top: 150px;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}
.app form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app button {
  height: 33px;
  margin: 10px;
}

.bin-input-container {
}


.bin-input-container input {
  background: transparent;
  border: 1px solid #cbae82;
  outline: none;
  box-shadow: none;
  color: #cc973a;
  font-size: 18px;
  padding: 5px 10px;
  text-align: right;
}

::placeholder {
  color: #f0d8b0;
}


.bin-input-error {
  color: red;
  font-size: 16px;
}

.dec {
  padding: 5px 10px;
  width: 241px;
  height: 33px;
  background: #ffe97d;
  text-align: right;
  font-size: 18px;
}